{% extends "layout.html.twig" %}
{% block content %}

	{% for v in products|slice(0,3) %}
		{{products[loop.index0]}}
	{% endfor %}.
	<br>
	{% for v in products|slice(3,3) %}
		{{v}}
	{% endfor %}.
	{{dump(products)}}
	<!-- </body>
					    <body>
					        <h1>Products available!</h1>
					        <table>
					            {% for row in products|batch(3) %}
					                <tr>
					                    {% for product in row %}
					                        <td>{{ product }}</td>
					                    {% endfor %}
					                </tr>
					            {% endfor %}
					        </table>
					
					        {{ dump(products) }}
					    </body>
					 -->
{% endblock %}
